body {
	background-color: #0c2f4b;
}

body .reset-section {
	width: 35%;
    background-color: #ebf0f4;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5rem 4rem;
}

body .reset-section input {
    font-size: 14px;
    border: 0px;
    color: #000;
    border-radius: 0px;
    width: 100%;
    padding: 5px 15px;
    line-height: 30px;
    border: 1px solid #dee2e6!important;
}

body .reset-pwd-content p {
	color: #0c2f4b;
	font-size: 18px;
	padding: 0 20px;
}

.reset-btn {
	margin-top: 30px; 
}

.reset-btn button {
	width: 100%;
    background: rgba(8, 63, 108, 1);
    background: -moz-linear-gradient(left, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(8, 63, 108, 1)), color-stop(49%, rgba(3, 93, 172, 1)), color-stop(100%, rgba(3, 93, 172, 1)));
    background: -webkit-linear-gradient(left, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
    background: -o-linear-gradient(left, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
    background: -ms-linear-gradient(left, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
    background: linear-gradient(to right, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#083f6c', endColorstr='#035dac', GradientType=1);
    color: #fff;
    border: 0;
    padding: 10px 10px;
    margin: 0px 0px 5px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
}

.reset-btn button:hover {
	background: rgba(3,108,199,1);
	background: -moz-linear-gradient(left, rgba(3,108,199,1) 0%, rgba(11,56,93,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3,108,199,1)), color-stop(100%, rgba(11,56,93,1)));
	background: -webkit-linear-gradient(left, rgba(3,108,199,1) 0%, rgba(11,56,93,1) 100%);
	background: -o-linear-gradient(left, rgba(3,108,199,1) 0%, rgba(11,56,93,1) 100%);
	background: -ms-linear-gradient(left, rgba(3,108,199,1) 0%, rgba(11,56,93,1) 100%);
	background: linear-gradient(to right, rgba(3,108,199,1) 0%, rgba(11,56,93,1) 100%);
}

@media screen and (max-width: 1199px) {
	body .reset-section {
		width: 50%;
		margin: 0 auto;
	    padding: 1rem;
	}
}


@media screen and (max-width: 767px) {
	body .reset-section {
		width: 90%;
		margin: 0 auto;
	    padding: 1rem;
	}
}

@media screen and (max-width: 550px) {
	body .reset-section {
		width: 100%;
	    padding: 1rem;
	}
}